* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.accountInfo {
    text-align: center;
    width: 40%;
    border: solid 1px #330036;
    margin: 2% auto 0 auto;
    padding-bottom: 10%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: rgba(212, 226, 255, 0.329);
}

.pwChange {
    background-color: rgb(7, 7, 77);
    color: white;
    width: 40%;
    margin: 4% auto 4% auto;
    padding: 2%;
}

.signInTitle {
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 4%;
    padding: 2%;
    border-radius: 5px;
}

.signInForm {
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.navLink {
    float: left;
    margin: 1% 0 1% 1%;
    cursor: pointer; 
}

.navLink a {
    color: rgb(1, 2, 71);
    text-decoration: none;
}

.amSpecial {
    color: rgb(1, 2, 71);
}

.Assets {
    float: left;
    width: 54%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% 4% 2% 3%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: rgba(212, 226, 255, 0.329);
}

.AssetsTitle {
    margin-left: 3%;
    padding: 1%;
}

table {
    font-family: arial, sans-serif;
    margin: 0 auto 2% auto;
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#CategoryChart {
    max-width: 30%;
    height: 30%;
    float: right;
    margin: 2% 4% 0 0;
    border: solid 1px #1485CC;
    border-radius: 14px;
    padding: 0 3% 3% 3%;
}

.chart {
    margin-right: 3%;
}

.Expenses {
    width: 90%;
    border: solid 1px black;
    margin: 2% auto 0 auto;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: rgba(212, 226, 255, 0.329);
}

.EditButton {
    text-align: center;
    font-size: 14px;
    color: red;
    cursor: pointer;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.DeleteButton {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 1%;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

button {
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.tableButtons {
    width: 6%;
}

.ExpenseText {
    color: rgb(7, 7, 77);
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.TransactionsTitle {
    margin: -3% 0 0 2%;
    color: #0971B2;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.Transactions {
    font-family: 'Quicksand', sans-serif;
    width: 96%;
}

/* .notification-message {
    background-color: red;
    border: solid 2px yellow;
  }
  
  .notification {
    background-color: blue;
    border: solid 2px green;
  
  } */
  
.notification-info {
    background-color: white;
    border: solid 1px rgb(32, 30, 133);
    color: black;
    width: 15%;
    font-size: 20px;
    position: fixed;
    margin-left: 60%;
    border-radius: 6px;
    z-index: 25;
}

.notification-success {
    background-color: white;
    border: solid 2px blue;
    color: black;
    width: 12%;
    float: right;
    margin: 0 4% 0 0;
    border-radius: 12px;
}

.notification-warning {
    background-color: white;
    border: solid 1px rgb(53, 29, 143);
    color: red;
    width: 15%;
    font-size: 20px;
    position: fixed;
    margin-left: 60%;
    margin-top: -1%;
    border-radius: 6px;
    z-index: 25;
}

.notification-error {
    background-color: red;
    border: solid 2px darkgray;
    color: white;
    width: 12%;
    border-radius: 12px;
}
  
.title {
 padding: 6%;
 text-align: center;
}

.message {
    padding: 4%;
    text-align: center;
}

.jumbotron {
    clear: both;
    text-align: center;
    background: url("./bg.png");
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.jumboText {
    padding: 2%;
    color: white;
    background-color: rgb(7, 7, 77);
    width: 38%;
    font-size: 50px;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.jumboSmall {
    font-size: 24px;
    padding: 1%;
    color: rgb(7, 7, 77);
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    border-bottom: solid 1px;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    width: 28%;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.Navbar {
    background-color: #56666B;
    padding: 2%;
    line-height: .25;
}

.OldTransactions {
    clear: both;
    margin: auto;
    text-align: center;
    height: 100px;
    border: solid 1px #1485CC;
    width: 40%;
}

.Savings {
    clear: both;
    float: left;
    width: 33%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% 0 0 5%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: rgba(212, 226, 255, 0.329);
}

.SavingsTitle {
    margin-left: 3%;
    padding: 1%;
}

.SavingsChart {
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    width: 90%;
    margin: 0 auto 0 auto;
}

.Scraper {
    clear: both;
    width: 90%;
    text-align: center;
    border: solid 1px #330036;
    margin: 0 auto 2% auto;
    padding-bottom: 1.5%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: rgba(212, 226, 255, 0.329);
}

.ScraperTitle {
    margin-left: 3%;
    /* padding: 1%; */
}

#Stash {
    border: solid 1px #1485CC;
    border-radius: 14px;
    width: 80%;
    height: 60%;
    display: block;
    margin: 1% auto 1% auto;
}

.Stocks {
    clear: both;
    width: 90%;
    text-align: center;
    border: solid 1px #330036;
    margin: 2% auto 1% auto;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: rgba(212, 226, 255, 0.329);
}

a {
    text-decoration: none;
    color: black;
}

.StocksTitle {
    margin-left: 3%;
    padding: 1%;
}

.StocksTable {
    margin: 0 auto 0 auto;
    padding: 0;
}

.stockLink {
    text-align: center;
}

.addTrans {
    margin: 1%;
    padding: 1%;
}

.formJS {
    margin: 2%;
    text-align: center;
}

.formJS1 {
    margin: 1% 2% 1% 2%; 
}

.formJS2 {
    margin: 0 2% 0 2%;

}

.formJS3 {
    margin: 0 2% 0 2%;
    color: red;
}

.formJS4 {
    margin: 0 2% 0 2%;
}

.ExpenseForm {
    margin: 2%;
    padding: 1%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.transSubmit {
    cursor: pointer;
}

.formHeader {
    font-family: arial, sans-serif;
    background-color: #dddddd;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 1%;
    width: 15%;
    color: black;    
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}





